name: Connect to an AWS role from a GitHub repository

on:
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]

env:

  AWS_REGION: "us-east-2"

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  AssumeRoleAndCallIdentity:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::242201314218:role/GithubActionsTerraformRole
          # role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}

      # Hello from AWS: WhoAmI
      - name: Sts GetCallerIdentity
        run: |
          aws sts get-caller-identity

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Terraform Init
        run: |
          terraform init -backend=false -lockfile=readonly -input=false -no-color
          terraform fmt -recursive
          terraform fmt -check
          terraform validate
          terraform plan -input=false -var-file=envs/prod.tfvars -out=tfplan
          terraform apply -auto-approve tfplan

      - name: View Files
        run: |
          ls -l -a
          ls -l .terraform

      - name: Reinitialize with updated backend
        run: |
          terraform init \
            -backend-config=./state.config \
            -input=false \
            -no-color \
            -upgrade \
            -migrate-state
      
      - name: View Files After Backend Change
        run: |
          ls -l -a
          ls -l .terraform

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main
          branch: lockfile/update
          branch-suffix: timestamp
          delete-branch: true
          add-paths: |
            .terraform.lock.hcl
          commit-message: "chore(terraform): update .terraform.lock.hcl"
          title: "chore(terraform): update lockfile"
          body: |
            This PR updates the .terraform.lock.hcl file after running 'terraform init' in a container.

            Please review carefully before merging. Changes affect provider dependency versions and should be minimal.
          reviewers: |
            maximcilek