name: Terraform Lockfile Initialization

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 0"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Generate lockfile
        run: |
          terraform init \
            -backend=false \
            -lockfile=readonly=false \
            -input=false \
            -no-color \
            -upgrade

          test -f .terraform.lock.hcl

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main
          branch: lockfile/update
          branch-suffix: timestamp
          delete-branch: true
          add-paths: |
            .terraform.lock.hcl
          commit-message: "chore(terraform): update .terraform.lock.hcl"
          title: "chore(terraform): update lockfile"
          body: |
            This PR updates the .terraform.lock.hcl file after running 'terraform init' in a container.

            Please review carefully before merging. Changes affect provider dependency versions and should be minimal.
          reviewers: |
            maximcilek